.login {
    display: block;
}


.login__form {
    background-color: rgba(27, 34, 51);
    margin: 0 auto;
    padding: 2rem;

    max-width: 400px;
    min-height: 500px;
    border-radius: 1.25rem;
}


.login__item {
    position: relative;
    padding-bottom: 2.5rem;
}


.login__item--forgot {
    text-align: left;
}


.login__input-with-icon {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: transparent;

    border: 1px solid rgba(85,101,126,.5);
    padding: .3rem;
    border-radius: .5rem;
}


.login__input-with-icon--active {
    border: 1px solid #1890ff;
}


.login__label {
    display:inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: white;
    cursor: pointer;

    width: 30px;
    height: 2em;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}


.login__label::before {
    content: attr(data-label);
    position: absolute;
    background-color: rgba(27, 34, 51,.9);
    transition: all .35s linear;
    color: rgba(85,101,126,.5);
    opacity: 0;

    top: -10%;
    left: 37px;
}


.login__label--active::before {
    opacity: 1;
}


.login__input {
    display: block;
    border: 0;
    outline: none;
    background: transparent;
    color: white;

    width: calc(100% - 30px);
    font-size: 1rem;
    height: 2em;
}


.login__input::placeholder {
    color: rgba(85,101,126,.5);
    transition: all .35s linear;
}


.login__input:focus::placeholder {
    color: transparent;
}


.login__input-error {
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    z-index: 1;
    background: white;

    bottom: .5em;
    font-size: 1rem;
    padding: .3em;
    border-radius: .3em;
    max-width: 200px;
    
}


.login__input-error::before {
    content: "";
    display: block;
    position: absolute;
    background-color: white;
    z-index: -1;

    width: 20px;
    height: 20px;
    top: 0;
    left: 10%;
    transform: rotate(45deg);
}


.login__forgot {
    display: inline-block;
    color:  #1890ff;
    text-align: left;
    text-decoration: none;
}


.login__forgot:hover {
    text-decoration: underline;
}


.login__submit-button {
    display: block;
    width: 100%;
    margin: 0 auto;
    background-color: #fa305c;
    color: white;
    cursor: pointer;
    font-weight: 700;
    border: 0;
    outline: none;
    transition: all .35s linear;

    font-size: 18px;
    max-width: 300px;
    border-radius: .4em;
    height: 2.5em;
}


.login__submit-button:hover {
    box-shadow: 0em 0.1em 0.5em #fa305c;
}